@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
}
.Bio{
    color: white;
    width: 100vw;
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    height: 13vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "JetBrains Mono", monospace;
    font-weight: 100;
    font-size: 6vh;
    border-bottom: 1px solid white;
    text-transform: uppercase;
}
.description{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 12px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
    height: 55vh;
    width: 47vw;
    position: relative;
    top: 6vh;
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .EachBio{
        font-family: "JetBrains Mono", monospace;
        font-weight: 100;
        text-align: center;
        width: 46vw;
        height: 8vh;
        margin: 1vh;
    }
    .line{
        background-color: rgb(101, 97, 97);
        width: 47vw;
        height: 0.24vh;
        margin-bottom: 1.5vh;
    }
    .holes{
        width: 47vw;
        height: 4.5vh;
        position: relative;
        top: -2.5vh;
        display: grid;
        grid-template-columns: 4vh 4vh;
        justify-content: center;
        gap: 55vh;
        .hole{
            width: 4vh;
            height: 4vh;
            border-radius: 50%;
            background-color: black;
            border: 1.4px solid rgb(88, 85, 85);
        }
    }
}
.holder{
    width: 5vh;
    height: 10vh;
    border-radius: 50%;
    border-right: 1.5px solid white;
    border-top: 1.5px solid white;
    border-left: 1.5px solid white;
    position: relative;
    top: -68vh;
    left: 84vh;
}
.holder1{
    width: 5vh;
    height: 10vh;
    border-radius: 50%;
    border-right: 1.5px solid white;
    border-top: 1.5px solid white;
    border-left: 1.5px solid white;
    position: relative;
    top: -78.3vh;
    left: 143vh;
}