<div class="profile">
    <div class="introduction">
        <span>HEY, I AM <span class="name">DHANUSH</span></span>
    </div>
    <div class="description">
        <span>I am a software developer with a passion for learning new technologies and building innovative solutions.</span>
    </div>
    <div class="arrow">
        <svg xmlns="http://www.w3.org/2000/svg" height="4vh" viewBox="0 -960 960 960" width="48px" fill="#e3e3e3"><path d="M480-80 200-360l42-42 208 208v-686h60v686l208-208 42 42L480-80Z"/></svg>
    </div>
</div>